<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                <div class="col-md-12 col-12 main_header-left align-items-center">
                    <figure class="errimg">
                        <img src="images/404.avif" alt="thapa" class="img-fluid" title="thapa technical">
                    </figure>
                
                    <p>Welcome to Thapa Techanicle Word</p>
                    <h1>{{erroeMsg}} </span> Youtuber And A Freelancer</h1>
                    <a href="/weather"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>
